language: cpp
os:
  - osx
compiler:
  - clang
#matrix:
#  include:
#    env: PLATFORM=ios
#    env: PLATFORM=macos
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install glm; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y libglm-dev  libglew-dev freeglut3-dev libxmu-dev libxi-dev; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      sudo apt-get install build-essential;
      wget http://www.cmake.org/files/v3.2/cmake-3.2.2.tar.gz;
      tar xf cmake-3.2.2.tar.gz;
      cd cmake-3.2.2;
      ./configure;
      make;
      sudo make install;
      cd ../;
    else
      if ! brew ls --version cmake &>/dev/null; then brew install cmake; fi
    fi
before_script:
  - mkdir build
  - cd build
  - cmake ..
#  - if [ "$PLATFORM" = "macos" ]; then cmake ..; fi
#  - if [ "$PLATFORM" = "ios" ]; then cmake -G Xcode -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchains/ios.toolchain.cmake ..; fi
script:
  - make
#  - if [ "$PLATFORM" = "macos" ]; then make; fi
#  - if [ "$PLATFORM" = "ios" ]; then xcodebuild -scheme GameEngine build; fi